/*****************************************************************\
*    CE FICHEIR EST RESERVE AUX STYLES A AJOUTER DANS LE PROJET   *
\*****************************************************************/

@import './variables.css';
@import './main.css';
@import './loader.css';

body{
    background-color: #fff;
}

.pointer {
    cursor: pointer !important;
}

#labelAdminAvatar {
    position: absolute;
    bottom: -60px;
    right: 0px;
    background-color: rgba(255,255,255,0.9);
    /* background-color: red; */
    display: inline-block;
    width: 100%;
    text-align: center;
  }